---
import Layout from '@/layouts/Layout.astro';
---
<Layout>
<button type="button" class="btn btn-text max-sm:btn-square sm:hidden" aria-haspopup="dialog" aria-expanded="false" aria-controls="multilevel-with-separator" data-overlay="#multilevel-with-separator" >
  <span class="icon-[tabler--menu-2] size-5"></span>
</button>

<aside id="multilevel-with-separator" class="overlay sm:shadow-none overlay-open:translate-x-0 drawer drawer-start hidden max-w-64 sm:absolute sm:z-0 sm:flex sm:translate-x-0 sm:z-0" tabindex="-1" >
  <div class="drawer-header">
    <div class="flex items-center gap-3">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M17.6745 16.9224L12.6233 10.378C12.2167 9.85117 11.4185 9.8611 11.0251 10.3979L6.45728 16.631C6.26893 16.888 5.96935 17.0398 5.65069 17.0398H3.79114C2.9635 17.0398 2.49412 16.0919 2.99583 15.4336L11.0224 4.90319C11.4206 4.38084 12.2056 4.37762 12.608 4.89668L20.9829 15.6987C21.4923 16.3558 21.024 17.3114 20.1926 17.3114H18.4661C18.1562 17.3114 17.8638 17.1677 17.6745 16.9224ZM12.5866 15.5924L14.8956 18.3593C15.439 19.0105 14.976 20 14.1278 20H9.74075C8.9164 20 8.4461 19.0586 8.94116 18.3994L11.0192 15.6325C11.4065 15.1169 12.1734 15.0972 12.5866 15.5924Z" fill="oklch(var(--p))"/></svg>
      <h3 class="drawer-title text-xl font-semibold">FlyonUI Side</h3>
    </div>
  </div>
  <div class="drawer-body px-2 pt-4">
    <ul class="menu space-y-0.5 [&_.nested-collapse-wrapper]:space-y-0.5 [&_ul]:space-y-0.5 p-0">
      <li>
        <a href=".">
          <span class="icon-[tabler--home] size-5"></span>
          Home
        </a>
      </li>
      <li class="space-y-0.5">
        <span class="collapse-toggle collapse-open:bg-base-content/10" id="menu-app" data-collapse="#menu-app-collapse">
          <span class="icon-[tabler--apps] size-5"></span>
          Apps
          <span class="icon-[tabler--chevron-down] collapse-open:rotate-180 size-4 transition-all duration-300"></span>
        </span>
        <ul id="menu-app-collapse" class="collapse hidden w-auto overflow-hidden transition-[height] duration-300" aria-labelledby="menu-app" >
          <li>
            <a href=".">
              <span class="icon-[tabler--message] size-5"></span>
              Chat
            </a>
          </li>
          <li>
            <a href=".">
              <span class="icon-[tabler--calendar] size-5"></span>
              Calendar
            </a>
          </li>
          <li class="nested-collapse-wrapper">
            <span class="collapse-toggle nested-collapse" id="sub-menu-academy" data-collapse="#sub-menu-academy-collapse">
              <span class="icon-[tabler--book] size-5"></span>
              Academy
              <span class="icon-[tabler--chevron-down] collapse-icon size-4"></span>
            </span>
            <ul id="sub-menu-academy-collapse" class="collapse hidden w-auto overflow-hidden transition-[height] duration-300" aria-labelledby="sub-menu-academy" >
              <li>
                <a href=".">
                  <span class="icon-[tabler--books] size-5"></span>
                  Courses
                </a>
              </li>
              <li>
                <a href=".">
                  <span class="icon-[tabler--list-details] size-5"></span>
                  Course details
                </a>
              </li>
              <li class="nested-collapse-wrapper">
                <span class="collapse-toggle nested-collapse" id="sub-menu-academy-stats" data-collapse="#sub-menu-academy-stats-collapse">
                  <span class="icon-[tabler--chart-bar] size-5"></span>
                  Stats
                  <span class="icon-[tabler--chevron-down] collapse-icon size-4"></span>
                </span>
                <ul id="sub-menu-academy-stats-collapse" class="collapse hidden w-auto overflow-hidden transition-[height] duration-300" aria-labelledby="sub-menu-academy-stats" >
                  <li>
                    <a href=".">
                      <span class="icon-[tabler--chart-donut] size-5"></span>
                      Goals
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <a href=".">
          <span class="icon-[tabler--settings] size-5"></span>
          Settings
        </a>
      </li>
      <div class="divider text-base-content/50 py-6 after:border-0">Account</div>
      <li>
        <a href=".">
          <span class="icon-[tabler--login] size-5"></span>
          Sign In
        </a>
      </li>
      <li>
        <a href=".">
          <span class="icon-[tabler--logout-2] size-5"></span>
          Sign Out
        </a>
      </li>
      <div class="divider text-base-content/50 py-6 after:border-0">Miscellaneous</div>
      <li>
        <a href=".">
          <span class="icon-[tabler--users-group] size-5"></span>
          Support
        </a>
      </li>
      <li>
        <a href=".">
          <span class="icon-[tabler--files] size-5"></span>
          Documentation
        </a>
      </li>
    </ul>
  </div>
</aside>
</Layout>
<script>
  document.addEventListener('astro:page-load',  async () => {
    const flowbite = await import("flyonui/flyonui.js");
    flowbite.HSStaticMethods.autoInit();
  })
</script>